<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/cassette.png">
      </ion-avatar>
      <ion-label>Your Profile</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Your recent listens:
    </ion-label>
  </ion-item>
  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/sweetener.png">
      </ion-avatar>
      <ion-label>Sweetener</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/sweetener.png">
      </ion-avatar>
      <ion-label>Limasawa Street</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/sour.png">
      </ion-avatar>
      <ion-label>Sour</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/cassette.png">
      </ion-avatar>
      <ion-label>thank u, next</ion-label>
    </ion-item>
</ion-list>
</ion-content>
