<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search for cassettes..."></ion-searchbar>

  <ion-grid>
  <ion-row>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="success">
          <ion-icon name="music"></ion-icon>
          <h1>Pop Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="dark">
          <ion-icon name="music"></ion-icon>
          <h1>Metal Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="medium">
          <ion-icon name="music"></ion-icon>
          <h1>Country Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="danger">
          <ion-icon name="music"></ion-icon>
          <h1>Rock Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="warning">
          <ion-icon name="music"></ion-icon>
          <h1>Alt Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="secondary">
          <ion-icon name="music"></ion-icon>
          <h1>Lo-Fi Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="light">
          <ion-icon name="music"></ion-icon>
          <h1>Pop Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-item href="#" color="tertiary">
          <ion-icon name="music"></ion-icon>
          <h1>Country Music</h1>
        </ion-item>
      </ion-card>
    </ion-col>

  </ion-row>
  </ion-grid>
</ion-content>
